[submodule "src/External/glm"]
	path = src/External/glm
	url = https://github.com/g-truc/glm
[submodule "src/External/glowl"]
	path = src/External/glowl
	url = https://github.com/invor/glowl
[submodule "src/External/imgui"]
	path = src/External/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/External/lodepng"]
	path = src/External/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/External/tinygltf"]
	path = src/External/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "src/External/glfw"]
	path = src/External/glfw
	url = https://github.com/glfw/glfw
[submodule "src/External/dxowl"]
	path = src/External/dxowl
	url = https://github.com/invor/dxowl
[submodule "src/External/implot"]
	path = src/External/implot
	url = https://github.com/epezent/implot
